.about-me-web{
    color: #181817;
    display: flex;
    flex-wrap: wrap;
}

.about-me-web>* {
    flex: 1 1 160px;
}

#heading{
    text-shadow: rgba(136, 70, 223, 0.616) 2px 1px;
}

.about-me-outer{
    padding-top: 8%;
    padding-left: 5%;
    z-index: 2;
}

#imageSelf{
    flex-grow: 1;
    padding-left: 6%;
    padding-top: 2%;
    z-index: 3;
}

#descriptionSelf{
    flex-grow: 4;
    padding-top: 10%;
    padding-right: 2%;
    padding-bottom: 12%;
    align-items: center;
 
}

#professionalTitle{
    text-align: center;
}

#jobDescription{
    text-align: center;
    font-weight: bold;
}


#sheetal{
    height: 230px;
    width: 230px;
    border-radius: 50%;
}
