.about-me{
    border: blanchedalmond solid 2px;
    background-color: rgb(105, 71, 71);
    width: 60%;
    height:70%;
    position: absolute;
    left: 50%;
    top: 48%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content-title{
    color: bisque;
}

.about-me > .content > .imageSelf{
    background-image: url('../static/me.jfif');
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 2%;
}

.content{
    text-align: right;
    display: flex;
    flex-direction: column;
}

.text-content{
    padding-top: 0%;
    margin-right: 2%;
}