.project-section h2{
    text-shadow: rgba(136, 70, 223, 0.616) 2px 1px;
    padding-top: 8%;
    padding-left: 10%;
    padding-right: 10%;
}

.project-section p{
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: bold;
}

@media (min-width: 801px) {
    /* CSS that should be displayed if width is equal to or greater than 801px here */
    .project-table{
        display: none;
    }

    .my-projects-carousel{
        color: #313130;
        padding-top: 4%;
        height: 10%;
        margin-left: 5%;
        visibility: visible;
    }

    #more-projects{
        margin-left: 44%;
    }


    .Carousel{
        margin-right: 10%;
        margin-left: 10%;
    }

    .item{
        padding-left: 17%;
        height: 25%;
    }

    .eachCard{
        font-size: 1vw;
        width: 80%;
        height: 90%;
    }

    .icon-color{
        color: rgb(67, 1, 129);
    }
}
@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px here */
    .my-projects-carousel{
        display: none;
    }

    .project-table{
        visibility: visible;
        padding-left: 10%;
        padding-right: 10%;
    }
    .project-table tr {
        text-align: center;
    }
    .project-table tr h5{
        font-weight: bold;
    }
}