@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: 100%;
  background-image: url('./static/hyperspace2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}